<div class="container"
     fxLayout="column"
     fxLayoutGap="1rem">
  <div fxFlex>
    <div>
      <h1>Menu</h1>
      <hr />
    </div>
  </div>

  <div fxFlex *ngIf="dishes">
    <mat-grid-list cols="2"
                   height="150px">
      <mat-grid-tile *ngFor="let dish of dishes"
                     [routerLink]="['/dishdetail', dish.id]">
        <img height="200px"
             src="{{ baseURL + dish.image }}"
             alt="{{ dish.name }}" />
        <mat-grid-tile-footer>
          <h2 style="margin: auto">{{ dish.name | uppercase }}</h2>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <div fxFlex *ngIf="!dishes && !errMess" >
    <mat-spinner></mat-spinner>  <h4>Loading .... please wait!</h4>
  </div>

  <div fxFlex *ngIf="errMess">
    <h2>Error</h2>
    <p>{{errMess}}</p>
  </div>
</div>