// .menu {
//   background: whitesmoke;
//   padding-block: 5rem ;
// }

// .dish_wrapper {
//   display: grid;
//   grid-template-columns: repeat(auto-fit, minmax(520px, 1fr));

//   gap: 5rem;
//   margin-inline: 5rem;

// }

.dish {
  background-color: rgb(233, 233, 233);
  height: 300px;

  border: solid 2px rgb(233, 233, 233);
  border-radius: 0.7rem;
}

//cols="2" rowHeight="5:2"